
h2{
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 54px;
    line-height: 81px;
    color: #00501D;
}
/* header */
.header {
    font-family: "Poppins";
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    top: 0;
    display: flex;
    flex-direction: row-reverse !important;
}
.header p .title{
    color: green;
    font-size: 20px;
    line-height: 30px;
}
.header li{
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF !important;
}
.header .nav-link{
    color: #FFFFFF;
}
.header .btn-light{
    padding: 7px 16px;
    background: rgba(255, 255, 255, 0.31);
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-left: 0;
}
.header .header-item{
    padding-top: 200px;
}
.header .header-item h1{
    color: #00501D;
    font-style: bold;
    font-weight: 700;
}
.header .header-item h1 span{
    color: #60D179;
}
.header .header-item p{
    font-size: 20px;
}

/* tentang */
.tentang{
    font-family: "Poppins";
    margin-top: 150px;
}
.tentang .tentang-item h2{
    margin-bottom: 0;
}
.tentang .tentang-item h3{
    font-weight: 300;
}
.tentang .tentang-item p{
    font-size: 20px;
}
.tentang .tentang-item a{
    color: #60D179;
    font-weight: 500;
    font-size: 18px;
}

/* fasilitas */
.fasilitas{
    font-family: "Poppins";
    margin-top: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fasilitas .desc{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
}
.fasilitas .card{
    height: 306px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}
.fasilitas .card .card-body img{
    justify-content: center;
    text-align: center;
}


/* blog */
.blog{
    font-family: "Poppins";
    padding-top: 60px;
}
.blog .desc{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
}
.blog h5{
    margin-top: 25px;
    color: #60D179;
}

.blog .card-text{
    margin-top: 14px;
    margin-bottom: 31px;
}
.blog a{
    color: #60D179;
    font-weight: 600;
    font-size: 14px;
    margin-top: 100px !important;
}
.blog a:hover{
    color: green;
    border-bottom: none;
}
.blog .card{
    border-radius: 10px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           height: 512px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}
.blog .card-time{
    color: #60D179;
    font-size: 12px;
    flex-direction: row-reverse;
    display: flex;
    margin-top: -20px;
}
.blog .card-img-top{
    height: 240px;
    position: relative;
}
.blog .card-img-top::before{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(72, 164, 127, 0.49);
    content: '';
}


/* galeri */
.galeri{
    font-family: "Poppins";
    margin-top: 105px;
}
.galeri .desc{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #333333;
}
.content {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;
}
.content .content-overlay {
    background: linear-gradient(119.92deg, #60D179 -10.45%, rgba(0, 0, 0, 0.188) 167.5%);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
} 
.content:hover .content-overlay{
    opacity: 1;
}
.content-image{
    width: 100%;
}
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.content-details p{
    color: white;
}
.content-details h5{
    color: white;
}
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
.fadeIn-bottom{
    top: 80%;
}

/* footer */
.footer{
    font-family: "Poppins";
}   
.footer p .title{
    font-weight: normal;
    font-size: 29px;
    line-height: 43px;
    color: #00501D;
}
.footer p{
    font-weight: 300;
    font-size: 19px;
    line-height: 28px;
    color: #333333;
    }
.footer img{
    height: 100px;
    width: 500px;
}
.footer .contact h4{
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    color: #2FA47F;
}
.footer .contact p{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    color: #333333;
}
.footer .copyright{
    text-align: center;
    background: linear-gradient(180deg, #60D179 0%, rgba(0, 0, 0, 0.188) 401.42%);
    padding: 15px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}
.footer .copyright a{
    color: yellow;
}

@media (min-width: 768px) { 
    .blog .card{
        justify-content: center;
    }
}

@media (min-width: 578px){
    .blog .card{
        border-radius: 10px;
        width: 100%;
        height: 512px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
    }
}
